# Server
PORT=5000
NODE_ENV=development

# MongoDB
MONGO_URI=mongodb+srv://leishasingh414_db_user:vzzi1LAuyzTHhe5T@cluster0.ereanhl.mongodb.net/eventlink?retryWrites=true&w=majority&appName=Cluster0
# JWT
JWT_SECRET=cf52f9a7edb03b665522fe81437d84478509e167481ce16686b532ba7685a91c769fa94303421e7627f6f97cef107ce44ccd538fb9c74695ffd80d41f15aa1ca
JWT_EXPIRES_IN=10d

# Nodemailer (Gmail)
MAIL_USER=leishasingh32@gmail.com
MAIL_PASS=tyddwlqfovmpjhxc

# Nodemailer (Gmail)
MAIL_USER=your@gmail.com
MAIL_PASS=your_app_password

# Razorpay
RAZORPAY_KEY_ID=rzp_test_SfaRNBFXKvaO9G
RAZORPAY_KEY_SECRET=LUmf8HtL2IPNMUJnU1pkfUFx


# Blockchain (Alchemy / Infura RPC)
RPC_URL=https://eth-sepolia.g.alchemy.com/v2/wpz0MVLZcs4nFEMhd3GPF
PRIVATE_KEY=086aa4bdec80d1d1029cf59244d73bb91a4cba190e3a8d9ce1c3178e3745cdc0  # deployer wallet private key
CONTRACT_ADDRESS=0xC2F0162b89Ad24b0dDa56dA37636Edd3e89e6d2c
CLIENT_URL=http://localhost:5173
